.forms-tabs-wrapper {
  position: relative;
}

@media (min-width:960px) {
  .tabs-forms-absolute {
    top: -240px;
    position: absolute;
  }

  .forms-tabs {
    min-height: 130px;
  }
}

.tab-content .form-label {
  font-size: 16px;
}