.promotion-left {
    background-color: #F3F5F7;
}

.promotion-left h1 {
    background: #00467f;
    padding: 5px;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 10px;
    display: inline-block;
}

.promotion-left p {
    font-size: 20px;
}

.promotion-right {
    background-color: #303D4B;
    color: #FFFFFF;
    padding: 30px 30px 30px 0px;
}

.promotion-right img {
    max-width: 25px;
    height: auto;
}

.promotion-left p, .promotion-right p {
    padding-left: 40px;
}

.promotion-middle {
    background: linear-gradient(
        to bottom,
        #F3F5F7 0%,
        #F3F5F7 50%,
        #303D4B 50%,
        #303D4B 100%
      );

    padding: 50px;
}

@media (min-width:960px) {
    .promotion-middle {
        background: linear-gradient(
            to right,
            #F3F5F7 0%,
            #F3F5F7 50%,
            #303D4B 50%,
            #303D4B 100%
        );

        padding: 0px;
    }
}